src/main/mule/my-test-app-1.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="0edc8316-2d6c-4a6a-839b-0e037cd394a1" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<configuration-properties doc:name="Configuration properties" doc:id="e5d9c90d-b522-407a-b883-96020d208e70" file="config.properties" />
	<flow name="my-test-app-1Flow" doc:id="8aaa6763-79d0-4e06-ac34-2fd833b25388" >
		<http:listener doc:name="Listener" doc:id="5e44159f-fe16-464b-808c-c0ef6c1a8ca9" config-ref="HTTP_Listener_config" path="/test"/>
		<ee:transform doc:name="Transform Message" doc:id="7b9858fb-7c3b-46d7-bdc7-5954e552981c" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	message: "ok",
	environment: p('environments')
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="8c7cd185-a2fa-40ee-ae48-d2ce6013f5d5" message="#[payload]"/>
	</flow>
</mule>
